body{
	font-size:16px;
	color:#red;
	background-color: #ffff66;
}
#header-nav{
	background-color: #6610f2;
	border-radius: 0;
	border:0;
}
.container{
	margin:0;
	padding:0;
}
.navbar-brand {
	font-size:1.5em;
	text-transform: uppercase;
	font-size: 35px;
  color: white;
  padding-left: 25px;
}
.navbar-default .navbar-brand {
    color:#ffc107;
}
.navbar-brand a:hover,.navbar-brand a:focus{
	text-decoration: none;
}
.navbar-toggle{
	border: 2px solid black;
	margin-right: 25px;
}
li{
	box-sizing: border-box;
	width: 100%;
	
}
.navbar-nav{
  font-size: 25px;
  text-align: center;
  margin: 0;
  padding: 0;
}

.icon-bar{
	background-color: white;
}

.menu-item{
	padding: 0;
	margin: 0;
	width: 100%;
	background-color: white;
	border-bottom: 1px solid black;
	color: black;
	display: block;
}

.menu-item:hover{
	background-color: rgba(0,0,0,0.9);
	color: rgba(0,0,0,0.4);
}
.main-heading
{
  margin-bottom: 15px;
  text-align: center;
  color: #ff4532;
  font-size: 50px;
  font-family: "Comic Sans MS", cursive, sans-serif;
  font-weight: bold;
}
.row{
	margin: 20px;
}
.content-box{
	margin: 20px;
	width: auto;
	height: auto;
	color: black;
	background-color: #99FFFF;
	font-family: "Comic Sans MS", cursive, sans-serif;
	padding: 20px;
}
.item-name{
	text-align: center;
	font-size: 30px;
	color: #0099FF;
	}
